<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%green(%d{HH:mm:ss}) %red(%thread) %yellow(%-5level) %cyan(%logger{36}) - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- logback为java中的包 -->
    <logger name="logback"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
